*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    background-size: 100% 100%;
    padding-top: 1vh;
}
header{
    height: 12vh;
    width: 100vw;
    border: 1px solid black;
    padding-left: 1vw;
    transition: all 1s;
}
header:hover{
    height: 15vh;
    transition: all 1s;
}
h2{
    position: relative;
    font-size: 5vh;
    font-family: Cambria, Cochin;
}
span{
    color: burlywood;
}
i{
    color: black;
    font-size: 7vh;
}
a{
    color: chocolate;
    text-decoration: none;  
}
a:hover{
    text-decoration: none;
    color: coral;
}
.logo{
    border: none;

}

ul{
    position: relative;
    bottom: 3vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
}
li{
    padding: 0.5vw;
}
.listed:hover{
    border: 1.5px solid chocolate;
}
.collapsable{
    position: relative;
    display: flex;
    justify-content: start;
    top: 0;
}
.show1{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../images/open.jpg);
    height: 80vh;
    width: 100%;
    background-size: 100vw 80vh;
    background-repeat: no-repeat;
}
select{
    color: chocolate;
}
.show{
    position: relative;
    top: 50vh;
    left: 15vw;
    color: white;
}
span#open4biz{
    position: relative;
    left: 0vw;
    color: cyan;
}
.create{
    position: relative;
    top: 65vh;   
}
input{
    width: 35vw;
    height: 6vh;
    border-radius: 5%;
}
button{
    width: 6vw;
    height: 6vh;
    background-color: mediumorchid;
    border-radius: 5%;
}
.show2{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    padding: 3vw;
}
h3{
    color: burlywood;
    font-size: 24px;
}
.title{
    width: 25vw;
    background-color: silver;
    box-shadow: 5px 5px whitesmoke;
    padding: 2vw;
    margin: 2vw;
    border-radius: 7%;
}
.line1{
    display: flex;
    justify-content: space-between;
}
.sign{
    position: relative;
    left: 8vw;
    justify-self: center;
    margin: 2vh;

}
#main-footer{
    position: relative;
    background-color: black;
    color: white;
    padding: 2vw;
    height: 2vh;
    margin-top: 2vh;
}
@media screen and (max-width:769px){
    *{
        margin:0;
        padding: 0;
        box-sizing: border-box;
    }
    body{
        width: 100vw;
    }
    header{
        display: flex;
        justify-content: space-around;
        height: 17vh;
        width: 100vw;
        border: 1px solid black;
        padding-bottom: 1vh;
        transition: all 1s;
    }
    .takeout{
        display: none;
    }
    ul{
        position: relative;
        top: 5vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        list-style-type: none;
        padding: 0vw;
    }
    li{
        margin-left: 1.5vw;
    }
    li:active{
        border: 1px solid coral;
    }
    .show{
        position: relative;
        top: 50vh;
        left: 0vw;
        color: white;
    }
    .show1{
        background-size: 100vw 80vh;
    }
    .create{
        position: relative;
        top: 65vh;   
    }
    input{
        width: 70vw;
        height: 5vh;
        border-radius: 2%;
    }
    button{
        width: 20vw;
        height: 5vh;
        border-radius: 2%;
    }
    .line1{
        display: flex;
        flex-direction: column;
    }
    .title{
        width: 100vw;
        margin: 1vh;
        border-radius: 1%;
        border: 1px solid gold;
    }
    .sign{
        position: relative;
        left: 35vw;
        margin: 2vh;
    
    }
    #main-footer{
        position: relative;
        background-color: black;
        color: white;
        padding: 3vw;
        height: 8vh;
        margin-top: 2vh;
    }
}
